body{
    background-color: bisque;
}
.text{
    margin-left: 630px;
}

.tuu img{
    margin-left: 25px;
}

.huhs p{
      font-size: 25px;
}

.tuu li{
    font-size: 30px;
}

.tuu p{
    font-size: 30px;
}
.table{
    font-size: 25px;
    bottom: 10px;
   
}
.table td{
background-color: rgb(185, 136, 231);
}
@media(max-width:700px){
    .text{
        display: block;
        text-align:center
    }
}

